@import '../shared-styles/main';

.nyt-notice {
  font-family: 'NewYorkTimesFranklin';
  font-weight: lighter;

  // border-top: double #16a085 0.1rem;
  // border-bottom: double #16a085 0.1rem;

  margin-bottom: $row-padding-bottom;

  // color: #eee;
  background-color: rgba(22, 160, 133, 0.1);

  animation-name: slide-down;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;

  display: flex;
  align-items: center;
  justify-content: left;

  text-align: left;

  .nyt-button {
    color: #fff;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 1;
    height: auto;
  }
}
