.splash-screen, .splash-screen-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.splash-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.splash-screen-image {
  z-index: 2;
}
.splash-screen-content {
  color: #fff;
  position: relative;
  text-align: left;
  z-index: 3;
  white-space: pre-line;
}
