@import '../shared-styles/main';

.nyt-button {
  /* Simple reset */
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;

  background-color: transparent;
  color: #16a085;

  font-family: 'NewYorkTimesFranklin';
  font-size: $font-normal;
  font-weight: bold;

  padding: 0.5rem 0;

  cursor: pointer;
  transition: all ease 0.5s;
  border: none;
  border-bottom: solid rgba(100, 100, 100, 0.15) 0.25rem;
}
.nyt-button:hover, .nyt-button:active {
  border-bottom-color: rgba(100, 100, 100, 0.5);
}

.nyt-button-large {
  font-size: $font-large;
}
