@import '../shared-styles/main';

.page-width-container {
  width: 100%;
  max-width: $page-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $page-side-padding;
  padding-right: $page-side-padding;
}
